.header {
    padding: 1rem 0 3rem;
}

.title {
    color: #000;
    font-size: 3rem;
    text-decoration: none;
}

button {
    outline: none;
    background: azure;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.current-icon {
    position: absolute;
    right: 80px;
    top: 60px;
    display: block;
    color: #2196f3;
    letter-spacing: 4px;
    font-size: 36px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 50px;
    height: 75px;
    width: 75px;
    z-index: 1000;
}

.active {
    background: #2196f3;
}

.current-icon:hover {
    color: #255784;
    background: #2196f3;
    border: 1px solid #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.current-icon:active {
    box-shadow: 0 0 10px #2196f3, 0 0 100px #2196f3, 0 0 200px #2196f3;
}

.ghost-link {
    opacity: 0;
}

.nav-list {
    background: rgba(255, 190, 190, 0.185);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    position: absolute;
    right: 80px;
    top: 60px;
    flex-direction: column;
    border: 2px solid rgb(163, 146, 130);
    border-radius: 50px;
    height: 75px;
    max-height: 75px;
    overflow: hidden;
    // transition: .35s ease-out;
}

.nav-list-active {
    height: auto;
    max-height: 1000px;
    transition: .35s;
}

.nav-item {
    font-size: .9rem;
    text-decoration: none;
    transition: .2s ease;
} 

.nav-item:hover {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 21px 16px rgba(206,89,55,0);
}

.active-nav-item {
    color: rgb(61, 131, 108);
}

/*~~~  Views  ~~~*/

.home {
    color: aquamarine;
}

.contact {
    color: rgb(31, 3, 3);
}