.container {
    margin: 0 auto;
    padding: 5rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

/*~~~  views  ~~~*/

.home {
    background: black;
    color: aquamarine;
}

.about {
    background: #71e355;
}

.blog {
    background: #9db4f6;
}

.contact {
    background: #00ffc6;
}